*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *******************
Utility 
**********************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}

/**********
 HEADER 
 *********/

 .site_header{
     height: 100vh;
     background-color: bisque;

 }

/* .site_header{
    height: 100vh;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:initial;
}
 */

.navbar{
    width: 70%;
    height: 10%;
    background-color: blueviolet;
    margin: 0 auto;
}

.title{
    width: 50%;
    height: 50%;
    background-color: brown;
    margin: 30px auto;
}

 /***************
  MAIN 
 ********************/

.site_main{
    height: 100vh;
    background-color: aqua;
}

.main_section{
    height: 25%;
    background-color: blueviolet;
}

.main_section .row_main{
    height: 100%;
    width: 80%;
    background-color: pink;
    margin: 0 auto;
}

.row_main>.col_lg{ 
    display: inline-block;
    width: 69%;
    height: 100%;
    background-color: cornflowerblue;
}

.row_main>.col_sm{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: coral;
}

.main_section_title{
    width: 50%;
    height: 20%;
    background-color: aquamarine;
    margin: 0 auto;
}

.main_section_img{
    width: 60%;
    height: 50%;
    background-color: azure;
    margin: 0 auto;
}

.main_section_paragraph{
    width: 30%;
    height: 10%;
    background-color:red;
    margin: 0 auto;
}

.main_section_button{
    width: 10%;
    height: 5%;
    background-color: chocolate;
    margin: 0 auto;
}


/******************
 FOOTER 
 ********************/

 .site_footer{
     height: 100vh;
     background-color: blue;
 }

 .row_footer{
     width: 70%;
     height: 70%;
     background-color: aqua;
     margin: 0 auto;
 }

 .col_lg_footer{
     width: 30%;
     height: 100%;
     background-color: coral;
     float: left;
 }

 .col_sm_footer{
     width: 17%;
     height: 100%;
     background-color: cadetblue;
     border: 1px solid black;
     float: left;
 }

 .footerbar{
     width: 70%;
     height: 10%;
     background-color: brown;
     margin: 0 auto;
 }

 .logo_discord{
     width: 30%;
     height: 100%;
     float: left;
     background-color: aquamarine;
 }

 .button_footer{
     float: right;
     width: 30%;
     height: 100%;
     background-color:chartreuse;
 }