*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *******************
Utility 
**********************/

/**********
 HEADER 
 *********/

 .site_header{
     height: 100vh;
     background-color: bisque;

 }

/* .site_header{
    height: 100vh;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:initial;
}
 */

.navbar{
    width: 70%;
    height: 10%;
    background-color: blueviolet;
    margin: 0 auto;
}

.title{
    width: 50%;
    height: 50%;
    background-color: brown;
    margin: 30px auto;
}

 /***************
  MAIN 
 ********************/

.site_main{
    height: 100vh;
    background-color: aqua;
}

.main_section{
    height: 25%;
    background-color: blueviolet;
}

.main_section .row{
    height: 100%;
    width: 80%;
    background-color: pink;
    margin: 0 auto;
}

.row>.col_lg{ 
    display: inline-block;
    width: 69%;
    height: 100%;
    background-color: cornflowerblue;
}

.row>.col_sm{
    display: inline-block;
    width: 30%;
    height: 100%;
    background-color: coral;
}

.main_section_title{
    width: 50%;
    height: 20%;
    background-color: aquamarine;
    margin: 0 auto;
}

.main_section_img{
    width: 60%;
    height: 50%;
    background-color: azure;
    margin: 0 auto;
}

.main_section_paragraph{
    width: 30%;
    height: 10%;
    background-color:red;
    margin: 0 auto;
}

.main_section_button{
    width: 10%;
    height: 5%;
    background-color: chocolate;
    margin: 0 auto;
}


/******************
 FOOTER 
 ********************/

 .site_footer{
     height: 100vh;
     background-color: blue;
 }