*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    min-width: 1440px;
}

/* *******************
Utility 
**********************/

.clearfix{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

.position_relative{
    position: relative;
}
/**********
 HEADER 
 *********/

 .site_header{
     height: 465px;
     background-color: bisque;
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:initial;
    position: relative;
 }

/* NAV */

.navbar{
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 5%;
}

.navbar div{
    display: inline-block;
}

.logo_discord{
    width: 19%;
    vertical-align: middle;
}

.link_navbar{
    width: 60%;
    text-align: center;
}

.link_navbar>a{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}


.button_navbar{
    width: 19%;
    height: 23px;
    position: relative;
}

.button_navbar button{
    border-radius: 1rem;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
}


/* TITLE */

.title{
    width: 51%;
    height: 50%;
    margin: 0 auto;
}

.title>h1{
    color: white;
    width: 100%;
    margin-top: 8% ;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.title>p{
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.7;
}

.link_title{
    width: 55%;
    margin: 25px auto;
}

.link_title :first-child{
    background-color: white;
    padding: 9px 25px;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: bold;
    margin-right: 1rem;
}

.link_title :last-child{
    background-color: black;
    padding: 9px 25px;
    border-radius: 2rem;
    font-size: 12px;
    font-weight: bold;
    color: white;
}



 /***************
  MAIN 
 ********************/

.site_main{
    background-color: aqua;
}

.main_section{
    height: 500px;
}

.main_section .row_main{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.row_main>.col_lg{ 
    display: inline-block;
    width: 69%;
}

.row_main>.col_lg>img{
    max-width: 69%;
    margin-left: 110px;
}

.row_main>.col_sm{
    display: inline-block;
    width: 25%;
    margin-left: 40px;
    bottom: 130px;
}

.row_col_sm_title>h2{
    font-size: 2.2rem;
}

.row_col_sm_paragraph>p{
    margin-top: 20px;
    font-weight: 600;
}

.main_section_title{
    width: 50%;
    height: 20%;
    background-color: aquamarine;
    margin: 0 auto;
}

.main_section_img{
    width: 60%;
    height: 50%;
    background-color: azure;
    margin: 0 auto;
}

.main_section_paragraph{
    width: 30%;
    height: 10%;
    background-color:red;
    margin: 0 auto;
}

.main_section_button{
    width: 10%;
    height: 5%;
    background-color: chocolate;
    margin: 0 auto;
}


/******************
 FOOTER 
 ********************/

 .site_footer{
     height: 100vh;
     background-color: blue;
 }

 .row_footer{
     width: 70%;
     height: 70%;
     background-color: aqua;
     margin: 0 auto;
 }

 .col_lg_footer{
     width: 30%;
     height: 100%;
     background-color: coral;
     float: left;
 }

 .col_sm_footer{
     width: 17%;
     height: 100%;
     background-color: cadetblue;
     border: 1px solid black;
     float: left;
 }

 .footerbar{
     width: 70%;
     height: 10%;
     background-color: brown;
     margin: 0 auto;
 }

 .logo_discord_footer{
     width: 30%;
     height: 100%;
     float: left;
     background-color: aquamarine;
 }

 .button_footer{
     float: right;
     width: 30%;
     height: 100%;
     background-color:chartreuse;
 }